@model IEnumerable<BakeryItem>
@{
    ViewData["Title"] = "Catalogue";
}

<h1>Our Bakery Items</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <img src="@item.ImageUrl" alt="@item.Name" />
            <h2>@item.Name</h2>
            <p>@item.Description</p>
            <p>@item.Price.ToString("C")</p>
        </li>
    }
</ul>
